<div class="jumbotron">

    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6 matt text-center">
            <br>

            <h3 class="text-center"><strong>PAR APLIKĀCIJU</strong><h3>
            <h5 class="text-justify"> Applikācijā izmantoti brīvpiekļuves dati, kas publicēti Latvijas Atvērto datu portālā par 
                VAS Ceļu Satiksmes Drošības Direkcijas veiktajām auto tehniskajām apskatēm 2020. gadā.</h5>
            <h5 class="text-justify text-center">AUTO STATUSS koeficients ir rēķināts, kā vidējais svērtais lielums 
                starp TA iegūto rezultātu un auto skaitu. Formulu skatīt zemāk</h5>
            <h5>Zemāk tabulā pieejama papildus informācija un saites uz informācijas avotiem.</h5>

            <table class="table table-hover table-condensed">
                <tbody> 
                    <tr>                            
                        <td class="text-left"><b>Latvijas Atvērto datu portāls</b></td>
                        <td><b><a href="https://data.gov.lv/lv">www.data.gov.lv</a></b></td>
                    </tr>
                    <tr>                            
                        <td class="text-left"><b>Ceļu Satiksmes Drošības direkcija</b></td>
                        <td><b><a href="https://www.csdd.lv/">www.csdd.lv</a></b></td>
                    </tr> 
                    <tr>                            
                        <td class="text-left"><b>Izmantotā datu kopa</b></td>
                        <td><b><a href="https://data.gov.lv/dati/lv/dataset/tehniskas-apskates/resource/655910f4-c614-4ea4-9360-7a5e6ad81aef">Tehniskās apskates 2020. gadā</a></b></td>
                    </tr> 
                    <tr>                            
                        <td class="text-left"><b>Pēdējo reizi dati atjaunoti</b></td>
                        <td>30.07.2021</td>
                    </tr> 
                    <tr>                            
                        <td class="text-left"><b>Datu formāts</b></td>
                        <td>.csv</td>
                    </tr> 
                    <tr>                            
                        <td class="text-left"><b>Datu atjaunošanas biežums</b></td>
                        <td>Reizi gadā</td>
                    </tr> 
                    <tr>                            
                        <td class="text-left"><b>AUTO STATUSS aprēķins: </b></td>
                        <td>x = (x<sub>1</sub> + (x<sub>2</sub> &times n<sub>2</sub>) + (x<sub>2</sub> &times n<sub>3</sub>)) / n<sub>sum(0..3)</sub></td>
                    </tr>  
                </tbody>
            </table>
            
        </div>

        <div class="col-sm-3"></div>
    </div>

</div>