<div class="jumbotron">

    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6 matt text-center"><br>
            <h3 class="text-center"><strong>APLIKĀCIJA MĀJO:</strong><h3>
            <a href="https://github.com/KakaransE/rails-treinings" class="btn btn-primary" role="button">GITHUB</a><br>
        </div>

        <div class="col-sm-3"></div>
    </div>

</div>