<div class="jumbotron">

    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6 matt"><br>
            <h1 class="text-center home-title"><b>AUTO STATUSS</b></h1> <br> <br>
            <h4 class="spacing home-text text-justify"><b>AUTO STATUSS IR APLIKĀCIJA, KAS DOD IESPĒJU, VISIEM LATVIJAS IEDZĪVOTĀJIEM, IEPAZĪTIES AR LATVIJAS 
                REPUBLIKĀ REĢISTRĒTO AUTO STĀVOKLI.</b></h4>
            <h5 class="spacing home-text text-center">JUMS IR IESPĒJA IEVADĪT INTERESĒJOŠO AUTO RŽOTĀJU, MODELI UN IZVĒLĒTIES TĀ DEGVIELAS VEIDU.</h5> <br>
            <%= button_to "UZ AUTO ATLASI", cars_path, method: :get, class: 'btn btn-primary form-control'%><br>
        </div>

        <div class="col-sm-3"></div>
    </div>

</div>