<div class="jumbotron">


    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <h2 class="text-center"><strong>AUTO STATUSS</strong></h2> <br>
        <h4 class="spacing">AUTOSTATUSS IR APLIKĀCIJA, KAS DOD IESPĒJU VISIEM LATVIJAS IEDZĪVOTĀJIEM IEPAZĪTIES AR LATVIJAS 
            REPUBLIKĀ REĢISTRĒTO AUTO KOPĒJO STĀVOKLI</h4>
        <h5 class="spacing">JUMS IR IESPĒJA IEVADĪT JUMS INTERESĒJOŠO AUTO RŽOTĀJU, MODELI UN DEGVIELAS TIPU</h5> 
        
        <a href="/cars" class="btn btn-default form-control" role="button">TURPINĀT</a>
        </div>
        <div class="col-sm-3"></div>

        
    </div>

</div>