@import "bootstrap-sprockets";
@import "bootstrap";

// Website style elements
body {
    margin-top: 100px;
}
.matt {
    background-color: rgba(255, 255, 255, 0.733);
    min-height: 425px;
}


// Navbar
.navbar-right {
    padding-right: 200px;
}
.navbar-brand {
    padding-left: 200px;
    
}


// cars/search 
.seems-18px {
    font-size: 18px;
}

.border-top {
    border-top: 1px solid gray;
}


// Homepage
.jumbotron {
    align-items: center;
    min-height: 520px;
    background-image: url(https://images.pexels.com/photos/756861/pexels-photo-756861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: 0% 25%;
    background-size: cover;
}
.spacing {
    line-height: 1.7;    
}
.home-text {
    color: rgb(49, 49, 49);
}


// Footer
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);    
    a {
        color: #555;
        &:hover {
          color: #222;
        }
      }
      small {
        float: left;
    }  
    ul {
        float: right;
        list-style: none;
    }
    li {
        float: left;
        margin-left: 20px;
    }  
}

// Paginator links
.paginate {
    a {
        color: #555;
        &:hover {
            color: rgb(3, 3, 3);
          }
    }
}