@import "bootstrap-sprockets";
@import "bootstrap";


body {
    margin-top: 100px;
}

.navbar-right {
    padding-right: 100px;
}

.navbar-brand {
    padding-left: 150px;
    
}

.seems-18px {
    font-size: 18px;
}

.border-top {
    border-top: 1px solid gray;
}

.landing-page {
    max-width: 60%;
}

.jumbotron {
    align-items: center;
    min-height: 520px;
    background-image: url(https://images.pexels.com/photos/756861/pexels-photo-756861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: 0% 25%;
    background-size: cover;
}

.spacing {
    line-height: 1.7;    
}

.home-text {
    color: rgb(49, 49, 49);
}

.home-btn {
   // background-color: lightgrey;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

.matt {
    background-color: rgba(255, 255, 255, 0.733);
    min-height: 425px;
}

.grapgh {
    object-fit: cover;
}


// style classes for footer
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);    
    a {
        color: #555;
        &:hover {
          color: #222;
        }
      }
      small {
        float: left;
    }    
}
ul {
    float: right;
    list-style: none;
}
li {
    float: left;
    margin-left: 20px;
}


