@import "bootstrap-sprockets";
@import "bootstrap";


body {
    margin-top: 100px;
}

.navbar-right {
    padding-right: 100px;
}

.navbar-brand {
    padding-left: 100px;
    
}

.seems-18px {
    font-size: 18px;
}

.border-top {
    border-top: 1px solid gray;
}

.landing-page {
    max-width: 60%;
}

.jumbotron {
    align-items: center;
    min-height: 500px;
}

.spacing {
    line-height: 1.7;
    text-align: center;
    text-justify: distribute;
}

