<footer class="footer">
  <small>
    Ruby on Rails treinings 2021
  </small>

  <nav>
    <ul>
        <li><%= link_to "DATUBĀZES DATI", data_path%></li>
        <li><%= link_to "KONTAKTI", contacts_path%></li>
    </ul>
  </nav>
</footer>