<div class="row">

    <div class="col-sm-4">
        <%= render 'layouts/search'%>
    </div>

    <div class="col-sm-8">

        <h3 class="text-center">UNIKĀLO RAŽOTĀJA/MODEĻA PĀRU SKAITS : <b><%= Car.count %></b> IERAKSTI </h3>
        <h4 class="text-center">Aplūkot unikālos auto modeļus, kas ir datubāzē, var: <a href="/distinct">ŠEIT</a></h4>
        <h5 class="text-center">Sīkāku informāciju par datu ieguvi var apskatīt sadaļā: <a href="/about">PAR</a></h5><br>

        <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">RAŽOTĀJS / MODELIS</th>
                    </tr>
                </thead>
            <tbody>
                    <% @cars.each_with_index do |car, index| %>
                        <% break if index > 50 %>
                        <tr>
                            <td class="text-center"><%= car.make %></td>
                        </tr>
                    <% end %>
            </tbody>
        </table>

        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center paginate"><p><%= paginate @cars %></p></div>
        <div class="col-sm-2"></div>
        
    </div>

</div>