
<div class="row">
    <div class="col-sm-4">
        <%= render 'layouts/search'%>
        <a href="/list" class="btn btn-info" role="button">TEST DATABASE</a>

    </div>

    <div class="col-sm-8">
        
        <p>Returned search data for : <br><b><%= @search_string %></b></p> <br> <br>

        <h4>Kopējais atlasīto ierakstu skaits : <%= @list.count %></h4> <br>

    </div>

</div>